# Bytecode Python
__pycache__/
*.py[cod]

# Ambiente virtual
env/
venv/
ENV/
.venv/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de log
*.log

# Arquivos de IDEs
.vscode/
.idea/

# Arquivos ocultos de config locais
*.swp
